@CHARSET "UTF-8";
.body {
	margin: 0;
	text-align: center;
	border: 0px solid #F00;
}

.div_head {
	margin: 0 auto;
	margin-top: 10px;
	width: 80%;
	height: 20%;
	border: 0px solid #00F;
}

.div_head_left {
	float: left;
	position: relative;
	margin: 0 auto;
	width: 75%;
	height: 100%;
	border: 0px solid #FFF;
}

.div_head_left ul li {
	float: left;
	display: block;
	font-style: normal;
	color: white;
}

.div_head_right {
	float: right;
	position: relative;
	margin: 0 auto;
	width: 25%;
	height: 100%;
	border: 0px solid #FFF;
}

.div_item {
	float: left;
	position: relative;
	margin: 0 auto;
	margin-top: 2%;
	width: 100%;
	height: auto;
	border: 0px solid #FFF;
}

.div_item_recommender {
	float: right;
	position: relative;
	margin: 0 auto;
	padding-right: 2%;
	width: 62%;
	height: auto;
	text-align: right;
	color: white;
	border: 0px solid #FFF;
}

.div_item_desc {
	float: left;
	position: relative;
	margin: 0 auto;
	padding-left: 10%;
	width: 38%;
	height: 310px;
	text-align: left;
	color: white;
	border: 0px solid #35BFBC;
	background-color: #35BFBC;
	/* filter: alpha(opacity = 80); 支持 IE 浏览器
	-moz-opacity: 0.80; 支持 FireFox 浏览器
	opacity: 0.80; 支持 Chrome, Opera, Safari 等浏览器 */
}

.div_item_tag {
	float: left;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	width: 90%;
	height: 26%;
	text-align: justify;
	color: white;
	border: 1px solid #FFF;
}

.tag {
	margin: 6px;
	padding: 6px;
}

.div_item_play {
	float: left;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	width: 90%;
	height: 24%;
	text-align: center;
	color: white;
	border: 0px solid #FFF;
}

.div_item_dispaly {
	float: left;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	width: 90%;
	height: 16%;
	text-align: center;
	color: white;
	border: 0px solid #FFF;
}

.div_recommender_analys {
	float: left;
	position: relative;
	margin-top: 2%;
	margin-left: 10%;
	width: 26%;
	height: auto;
	text-align: left;
	color: white;
	border: 1px solid #FFF;
}